@model DecorAndHandicraftMerchant.Models.SubCategory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <div class="center_view">
        <div>
            @if (Model.Photo != null)
            {
                <img src="~/images/sub-categories_added/@Model.Photo" alt="Sub Category" asp-append-version="true" width="250px" height="250px" />
            }
            else
            {
                <img src="~/images/n_a.jpg" alt="Product" class="detail_image" />
            }
        </div>
        <div class="text-center">
            @Html.DisplayFor(model => model.Name)<br />
            @Html.DisplayFor(model => model.Category.Name)
        </div>
        <a asp-action="Edit" asp-route-id="@Model.SubCategoryId">Edit</a>

    </div>
</div>
<div class="bottom_right">
    <a href="javascript:history.go(-1);"><img src="~/images/app_icons/back.png" alt="Back" title="Back" class="back" /></a>
</div>
