@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">

                @*Company title - Link to Home*@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" id="title" style="font-size:x-large">Decor & Handicraft Merchant</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="padding-top: 5px">
                            @*Link to Categories*@
                            <a class="nav-link" asp-area="" asp-controller="Categories" asp-action="Index">Shop</a>
                        </li>
                        <li class="nav-item">
                            @*Link to Cart*@
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Cart">
                                <img src="~/images/app_icons/cart.png" alt="Cart" title="Your Shopping Cart" class="icon" />
                                @if (Context.Session.GetInt32("ItemCount") != 0)
                                {
                                    <span class="badge badge-secondary">@Context.Session.GetInt32("ItemCount")</span>
                                }
                            </a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @*Link to Order History - Only shows if user is signed in.*@
                            <li class="nav-item" style="padding-top: 5px">
                                <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Index">Your Orders</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <ul>
            <li>
                @*Link to Privacy page*@
                <a class="text-muted" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li>
                @*Link to Returns page*@
                <a class="text-muted" asp-area="" asp-controller="Home" asp-action="Returns">Return Policy</a>
            </li>
        </ul>
        &copy; 2021 - DecorAndHandicraftMerchant - Mohpreet Kaur - 200448160 - ASP.NET Core - COMP2084
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
