@model DecorAndHandicraftMerchant.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div class="center_view">
    <hr />
    <div>
        @if (Model.Photo != null)
        {
            <img src="~/images/categories_added/@Model.Photo" alt="Category" class="detail_image" />
        }
        else
        {
            <img src="~/images/n_a.jpg" alt="Product" class="detail_image" />
        }
    </div>
    <div>
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>

    <div class="bottom_right">
        <a asp-action="Index">Back to Categories</a>
    </div>
</div>
