@model DecorAndHandicraftMerchant.Models.Category

@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <div class="center_view">
        <div>
            @if (Model.Photo != null)
            {
                <img src="~/images/categories_added/@Model.Photo" alt="Category" class="detail_image" />
            }
            else
            {
                // send image not found if no image is present
                <img src="~/images/n_a.jpg" alt="Product" class="detail_image" />
            }
        </div>
        <div>
            @Html.DisplayFor(model => model.Name)
        </div>
        <div>
            @if (User.IsInRole("Administrator"))
            {
                <a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a>
            }
        </div>

    </div>
</div>
<div class="bottom_right">
    <a href="javascript:history.go(-1);"><img src="~/images/app_icons/back.png" alt="Back" title="Back" class="back" /></a>
</div>

