@model DecorAndHandicraftMerchant.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <div class="center_view">
        <div>
            @if (Model.Photo != null)
            {
                <img src="~/images/categories_added/@Model.Photo" alt="Category" class="detail_image" />
            }
            else
            {
                <img src="~/images/n_a.jpg" alt="Product" class="detail_image" />
            }
        </div>
        <div>
            <dl class="row text-center">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="bottom_right">
    <a asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
