@{
    ViewData["Title"] = "Home Page - Decor And Handicraft Merchant";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Decor and Handicraft Merchant</h1>
    <h2>Your one stop shop for all handmade products.</h2>
    <p>All of our products are 100% eco-friendly because they are made of either waste or recycled items.</p>
</div>
