@{
    ViewData["Title"] = "Home Page - Decor And Handicraft Merchant";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Decor and Handicraft Merchant</h1>
    <h2>Your one stop shop for all handmade products.</h2>
    <p>All of our products are 100% eco-friendly because they are made of either waste or recycled items.</p>

    <p>To create an e-commerce website that sells handmade decorative and daily need products made from waste or 100% recycled material. The website will allow the user:<br />
        •	to buy some beautiful stuff made by techniques used by our ancestors or some genius minds that foster creativity and,<br />
        •	to leave zero footprint on environment at the same time.<br />
      The website will have a browse by categories section with sub-categories where you can search for different products, a monthly subscription option that gives special discounts and free deliveries, a promising user-friendly interface and a test payment option. The user needs to create a valid profile to shop here.
    </p>

    <p>The database design of this website contains typical structure of a shopping website with tables for Categories, Sub-categories, Products, Carts, Orders and Profiles with additional tables where required.</p>
</div>
