@{
    ViewData["Title"] = "Privacy/Legal";
}
<h1>Privacy Policy</h1>

<p>This website is a part of an academic project. Any information filled in the forms is unprotected as of now and we request you not to use any card or personal information. and all content placed on this site is subject to copyright of it's respective owners. </p>

<h1>Legal Information</h1>

<p>All content placed on this site is subject to copyright of it's respective owners. There is no intention to copy someone else's promotional or commercial content. Most pictures posted on this site are from images available for free at google. There is no intention to copy someone else's promotional or commercial content.</p>
