<p>All items* bought fron Decor and Handicraft Merchants are subject to 30 days return policy. The items should be intact and undamaged. Customers are subject to the cost of return.</p>
<small>This does not apply on any type of cards.</small>