@model IEnumerable<DecorAndHandicraftMerchant.Models.Order>

@{
    ViewData["Title"] = "Order History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Orders</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Order Date
            </th>
            <th>
                Order Number
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-controller="Orders" asp-action="OrderDetails" asp-route-id="@item.OrderId">See Details >></a>
            </td>
            
        </tr>
}
    </tbody>
</table>

<div class="bottom_right">
    <a href="javascript:history.go(-1);"><img src="~/images/app_icons/back.png" alt="Back" title="Back" class="back" /></a>
</div>
